.unitone-search-checkboxes {
	display: flex;
	flex-wrap: wrap;
	gap: 0 var(--unitone--s-1);
}

.unitone-search-radios {
	display: flex;
	flex-wrap: wrap;
	gap: 0 var(--unitone--s-1);
}

.unitone-search-select {
	.unitone-search-select,
	.unitone-search-select__control {
		width: 100%;
	}
}

.unitone-search-is-layout-inline {
	flex-direction: row;
}

.unitone-search-is-layout-stack {
	flex-direction: column;
}

.unitone-search-is-layout-grid {
	--unitone--item-min-width: 100px;

	display: grid;
	gap: 0 var(--unitone--s-1);
	grid-template-columns: repeat(auto-fit, minmax(min(var(--unitone--item-min-width), 100%), 1fr));
}
